# File extensions
*~
*#*#*
*.d
*.so
*.pcm
*.png
*.ps
*.eps
*.pdf
.nfs*
*.root
*.root*
*_-1_0_-1
*_0_-1
Tmp*

# Directories
RAID
REPORT_OUTPUT
HISTOGRAMS
MON_OUTPUT
ROOTfiles*
OUTPUT
.root_history
raw*
raw.copiedtotape
cache

# Symbolic links
hcana
scratch
ROOTfilesPion
