# File extensions
*~
*#*#*
*.d
*.so
*.pcm
*.png
*.ps
*.eps
*.pdf
.nfs*
*.root

# Directories
RAID
REPORT_OUTPUT
HISTOGRAMS
MON_OUTPUT
ROOTfiles*
.root_history
raw*
raw.copiedtotape
cache
PARAM/HMS/HODO/Calibration
DBASE/COIN/HMS_HodoCalib
DBASE/COIN/HMS_DCCalib
DBASE/COIN/SHMS_DCCalib
PARAM/HMS/DC/CALIB
PARAM/SHMS/DC/CALIB
OUTPUT
CALIBRATION/dc_calib/scripts/HMS_*
CALIBRATION/dc_calib/scripts/SHMS_*



# Symbolic links
hcana
scratch